.menu{
    position: fixed;
    background-color: black;
    color: aliceblue;
    height: 3rem;
  
 width: 100%;


}
.menu ul{
    list-style-type: none;
    display: flex;
flex-direction: row;
gap: 5rem;
justify-content: center;
padding-top: 1rem;

}
.menu li{
    cursor: pointer;
}

.menu li:hover{
    border: 2px solid white;

}
.row{
    display: flex;
    margin-left: 4rem;
    padding-top: 4rem;
  flex-wrap:wrap;

    
}
@media screen and (max-width:380px) {
    .menu{
        
height: 4rem;
    }
    .menu ul{
        gap:0.5rem;
     
    }
    .row{
        margin-left: 1rem;
        display: flex;
        flex-direction: row;
    }
    
}